In [4]:
f = open('data/sample.txt')
for i in f:
    print(i)

Hi World

This is Sitharthan

1994/13/03

In [6]:

# Simple Math module import
import math as m

In [7]:
x = m.pi
x

3.141592653589793

In [8]:
x = m.sqrt(16)
x

4.0

In [9]:
x = 34.06
m.ceil(x)

35

In [10]:
m.floor(x)

34

In [11]:
m.e

2.718281828459045

In [12]:
m.inf #infinity

inf

In [13]:
m.nan

nan

In [14]:
m.tau #by default it have lots of constants

6.283185307179586

In [15]:
dir(m)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [18]:
m.factorial(4)

24

In [24]:
import pandas as pd

In [25]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sitha\appdata\local\programs\python\python310\lib\site-packages (1.4.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sitha\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sitha\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sitha\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\sitha\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [27]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [29]:
i = lambda x: x**2 # 1 # 3 x=3 i=3**2
i(3) #2 calls lamda(step1) By considering arg as 3 # print i

9

In [30]:
type(i)

function

In [32]:
type(i(3)), type(i(2.2))

(int, float)

In [33]:
i = lambda x,y,z: x+y+z
i("Good", "Great", "Best")

'GoodGreatBest'

In [34]:
type(i("Good", "Great", "Best"))

str

In [35]:
i = lambda *z:z
i(11,12,13)

(11, 12, 13)

In [38]:
i = lambda **z:z

Class

In [46]:
class good:
    i = 230
    j = "Simple"

In [47]:
x = good()

In [48]:
x
# <__main__.good at 0x1db7f8c8d90>
# <__main__.good at 0x1db7f85ba60>

In [49]:
type(x)

__main__.good

In [50]:
x.i, x.j

(230, 'Simple')

In [52]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age  = age

In [54]:
P = Person("Sitharthan", 28)

In [55]:
P.name

'sitharthan'

In [56]:
P.age

28

self - which object you are running
Most of the peoples working self.
what object we have to connect, that object was called self

In [57]:
class emp:
    def __init__(self, e_id, e_name):
        self.id   = e_id
#         property  = Arguments
        self.name = e_name

In [58]:
var = emp(22, "Sitharthan")

In [59]:
var.id

22

In [60]:
var.name

'Sitharthan'

In [61]:
# __init__ will execute first whehever we created the object

In [71]:
class dep:
    year = 'final' # This also we create, By default we created
    def __init__(self,dep,id,name):
        self.dep  = dep
        self.id   = id
        self.name = name
    def value(self):
        print(self.dep, self.id, self.name, self.year)

In [72]:
s1 = dep("RMG", 25 , "Bala")

In [73]:
s1.dep, s1.id, s1.name, s1.year

('RMG', 25, 'Bala', 'final')

In [70]:
s1.value()

RMG 25 Bala final

In [75]:
class emp(dep):
    pass

In [76]:
s2 = emp("Finance", 45, "adil")

In [78]:
s2.value()

Finance 45 adil final

In [ ]:
# Class and datastructures