T Test

In [1]:
import numpy as np

In [2]:
sal = np.random.randint(100,900,size=500) #This is the total population

In [3]:
sal

array([798, 568, 120, 163, 525, 210, 472, 885, 164, 791, 477, 516, 226,
       318, 434, 735, 213, 590, 614, 194, 383, 202, 298, 773, 819, 184,
       534, 696, 556, 209, 871, 782, 625, 669, 778, 374, 733, 785, 812,
       244, 232, 827, 522, 564, 750, 216, 760, 319, 467, 838, 727, 849,
       273, 460, 343, 826, 295, 631, 770, 253, 200, 455, 513, 865, 290,
       174, 209, 810, 831, 150, 540, 344, 290, 898, 630, 708, 556, 496,
       719, 702, 781, 828, 529, 710, 819, 736, 272, 533, 136, 811, 333,
       271, 453, 823, 454, 290, 666, 847, 758, 329, 721, 144, 838, 158,
       120, 792, 813, 780, 548, 625, 766, 409, 542, 341, 570, 545, 326,
       493, 283, 837, 537, 568, 765, 307, 292, 146, 713, 226, 476, 603,
       338, 220, 361, 333, 588, 295, 575, 610, 843, 667, 674, 169, 338,
       475, 574, 850, 612, 838, 657, 327, 679, 390, 238, 210, 284, 601,
       744, 117, 283, 824, 357, 187, 389, 356, 235, 732, 719, 667, 527,
       519, 898, 604, 217, 440, 576, 256, 679, 704, 447, 512, 160, 206,
       881, 884, 456, 198, 708, 595, 461, 853, 720, 413, 487, 621, 766,
       247, 211, 136, 585, 420, 358, 322, 255, 760, 446, 836, 781, 427,
       872, 835, 262, 806, 781, 898, 472, 458, 670, 612, 569, 141, 796,
       286, 269, 579, 877, 418, 240, 497, 215, 761, 161, 409, 224, 749,
       669, 666, 440, 359, 634, 391, 206, 629, 494, 814, 518, 191, 114,
       671, 741, 244, 684, 628, 204, 280, 622, 337, 479, 686, 860, 424,
       741, 202, 161, 658, 780, 296, 643, 632, 383, 674, 269, 851, 174,
       207, 820, 756, 877, 190, 366, 818, 578, 128, 731, 209, 238, 123,
       609, 585, 297, 720, 856, 128, 233, 324, 388, 691, 381, 761, 128,
       166, 622, 806, 440, 543, 886, 281, 822, 364, 360, 173, 827, 815,
       605, 296, 108, 340, 386, 556, 258, 216, 780, 627, 204, 174, 821,
       602, 178, 679, 194, 788, 202, 636, 214, 597, 791, 212, 231, 643,
       259, 787, 629, 607, 248, 315, 253, 195, 481, 541, 227, 198, 225,
       456, 491, 822, 352, 894, 329, 726, 685, 692, 792, 475, 650, 446,
       767, 605, 617, 494, 359, 338, 875, 842, 375, 808, 519, 801, 611,
       217, 280, 598, 306, 669, 222, 742, 403, 753, 404, 625, 153, 280,
       178, 318, 577, 858, 794, 807, 567, 542, 177, 412, 606, 100, 466,
       583, 330, 896, 248, 468, 686, 514, 196, 802, 815, 826, 283, 124,
       117, 611, 555, 698, 681, 218, 547, 733, 245, 606, 855, 659, 690,
       890, 426, 645, 598, 687, 410, 608, 310, 260, 822, 519, 789, 128,
       261, 471, 175, 828, 870, 792, 575, 897, 557, 129, 167, 137, 105,
       295, 244, 729, 583, 589, 614, 465, 744, 693, 170, 166, 163, 721,
       238, 231, 763, 513, 251, 311, 678, 341, 501, 161, 192, 771, 797,
       177, 422, 862, 272, 496, 120, 729, 623, 742, 219, 632, 794, 328,
       215, 381, 680, 312, 233, 175])

In [5]:
sal_mean = np.mean(sal)
sal_mean #Mean salary for Everyone

502.684

In [6]:
sample_size = 40 #This is the sample Size
sample_salary = np.random.choice(sal, size=sample_size)
sample_salary

array([798, 253, 729, 361, 556, 117, 588, 742, 330, 446, 235, 643, 659,
       792, 273, 556, 519, 796, 364, 273, 167, 128, 388, 146, 128, 319,
       192, 519, 381, 327, 496, 475, 390, 881, 687, 858, 231, 174, 219,
       543])

In [7]:
from scipy.stats import ttest_1samp

In [8]:
ttest, p_value = ttest_1samp(sample_salary, sal_mean)

In [9]:
p_value

0.1001198099248816

In [10]:
if p_value > 0.5:
    print('We accept H0 Null Hypothesis')
else:
    print('We Reject H0 Null Hypothesis - h1')

We Reject H0 Null Hypothesis - h1

Two Sample T test

In [11]:
from scipy.stats import ttest_ind

In [40]:

sal = np.random.randint(100,900,size=500)
sample_size = 40
sample_salary1 = np.random.choice(sal, sample_size)
sample_salary2 = np.random.choice(sal, sample_size)
ttest, p_value = ttest_ind(a=sample_salary1, b=sample_salary2, equal_var=False) #Wqual Variance

In [41]:
p_value

0.8418286558178905

In [42]:
if p_value > 0.5:
    print('We accept H0 Null Hypothesis')
else:
    print('We Reject H0 Null Hypothesis - h1')

We accept H0 Null Hypothesis